<!--<app-header></app-header>-->
<div class="container">
    <h1 class="bg-info">
        {{ 'Phát triển nhóm' | translate }}
    </h1>
    <button class="btn btn-sm btn-warning" (click)="changeSetting()">Setting</button>
    <div class="row" *ngIf="!isShowSetting">
        <div class="col-md-4">
            <label class="text-info bg-primary">Lấy danh sách bạn mới thêm</label>
            <div class="m2">
                <div><b>FB_BODY</b></div>
                <textarea type="text" [(ngModel)]="fbBody"></textarea>
                <button class="btn btn-sm btn-success" (click)="saveFbToken()">Save</button>
            </div>
            <div class="m2">
                <button class="btn btn-sm btn-success" (click)="callApi()">Fetch</button>
            </div>
            <app-get-group-member></app-get-group-member>
        </div>
        <div class="col-md-4">
            <label class="text-info bg-primary">Mời vào nhóm</label>
            <div class="m2">
                <div>Thời gian giữa 2 lần gọi api (s)</div>
                <input type="number" [(ngModel)]="timeSpace"/>
            </div>
            <div class="m2">
                <div><b>DS ID</b></div>
                <input type="text" [(ngModel)]="listIdsStr"/>
                <button class="btn btn-sm btn-success" (click)="saveListId()">Save</button>
            </div>
            <div class="m2">
                <div>Danh sách nhóm</div>
                <input type="text" [(ngModel)]="groupId">
                <button class="btn btn-sm btn-success" (click)="callInviteApi()">Invite</button>
                <button class="btn btn-sm btn-danger" (click)="Stop()">Stop</button>
            </div>
            <div class="m2">
                <div><b>INVITE BODY</b></div>
                <textarea type="text" [(ngModel)]="inviteBodyStr"></textarea>
                <button class="btn btn-sm btn-success" (click)="saveInviteBody()">Save</button>
            </div>
            <div class="m2">
                <div>Log</div>
                <textarea type="text" [(ngModel)]="logContent"></textarea>
            </div>
        </div>
        <div class="col-md-4">
            <app-add-friend></app-add-friend>
        </div>
    </div>
    <div class="row" *ngIf="isShowSetting">
        <app-setting-token></app-setting-token>
    </div>
</div>
