<label class="text-white bg-primary">Thêm bạn</label>
<div class="m2">
    <div><b>Thời gian giữa 2 lần gọi (s)</b></div>
    <label>
        <input type="number" [(ngModel)]="spaceTime"/>
    </label>
</div>
<div class="m2">
    <div class="text-white bg-primary"><b>Số lượng user 1 lần</b></div>
    <label>
        <input type="number" [(ngModel)]="sizeConsume"/>
        <button class="btn btn-sm btn-primary" (click)="onSelectFriendSize(50)">50</button>
        <button class="btn btn-sm btn-primary" (click)="onSelectFriendSize(100)">100</button>
        <button class="btn btn-sm btn-primary" (click)="onSelectFriendSize(150)">150</button>
        <button class="btn btn-sm btn-primary" (click)="onSelectFriendSize(200)">200</button>
    </label>
    <button class="btn btn-sm btn-success" (click)="onGetUser()">Get User</button>
    <button class="btn btn-sm btn-success" (click)="onMarkUser()">Mark User</button>
    <button class="btn btn-sm btn-danger" (click)="onUnMarkUser()">UnMark User</button>
</div>
<div class="m2">
    <button class="btn btn-sm btn-success" (click)="onAddFriend()">Add Friend</button>
    <button class="btn btn-sm btn-danger" (click)="onStop()">Stop</button>
    <div><b>DS ID</b></div>
    <label>
        <input type="text" [(ngModel)]="listIdsStr"/>
    </label>
</div>
<div class="m2">
    <div><b>INVITE FBODY</b></div>
    <textarea type="text" [(ngModel)]="inviteBodyStr"></textarea>
    <button class="btn btn-sm btn-success" (click)="saveInviteBody()">Save</button>
</div>
<div class="m2">
    <textarea class="log-area" [(ngModel)]="logContent"></textarea>
</div>
