:host {

}
.modal-header{
    border-bottom: 0;
    padding: 15px 15px 20px 34px;
    .modal-title{
        font-size: 13px + 3px;
        color: #111;
        font-weight: bold;
        flex: 1;
    }
    .heading-actions{
        .btn-icon{
            i{
                color: #666;
            }
        }
    }
    .close{
        width: 14px;
        height: 14px;
        background: gray;
        span{
            background-color: #666;
        }
    }
}
.m2 {
    margin-bottom: 1em;
}

.w25 {
    min-width: 25%;
}
.w50 {
    min-width: 50%;
}
.w75 {
    min-width: 75%;
}
.w100 {
    min-width: 100%;
}
