<div class="container">
    <h1 class="title">
        {{ 'PAGES.HOME.TITLE' | translate }}
    </h1>

    <a routerLink="/detail">{{ 'PAGES.HOME.GO_TO_DETAIL' | translate }}</a>
    <label>FB_TOKEN</label>
    <input type="text" [(ngModel)]="fbToken">
    <button (click)="saveFbToken()">Save</button>

    <label>Call save token</label>
    <input type="text" [(ngModel)]="callSaveToken">
    <button (click)="saveApiToken()">Save</button>
    <label>nhóm</label>
    <input type="text" [(ngModel)]="groups">
    <button (click)="callApi()">fetch</button>
    <button (click)="onOpenSetting()">open Modal</button>
</div>
