<div class="container">
    <h1 class="title">
        {{ 'PAGES.HOME.TITLE' | translate }}
    </h1>

<!--    <a routerLink="/detail">{{ 'PAGES.HOME.GO_TO_DETAIL' | translate }}</a>-->
    <div class="row">
        <div class="col-md-4">
            <div class="m2">
                <label>FB_TOKEN</label>
                <input type="text" [(ngModel)]="fbToken">
                <button class="btn btn-sm btn-success" (click)="saveFbToken()">Save</button>
            </div>

            <div class="m2">
                <div>Call save token</div>
                <div>Email</div>
                <input type="text" [(ngModel)]="user">
                <div>PW</div>
                <input type="password" [(ngModel)]="password">
                <button class="btn btn-sm btn-success" (click)="saveApiToken()">Save</button>
                <div class="m2">
                    <div>Số bài muốn lấy</div>
                    <input type="number" [(ngModel)]="numberOfPost"/>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="m2">
                <div>Nhóm</div>
                <input type="text" [(ngModel)]="groups">
                <button class="btn btn-sm btn-success" (click)="callApi()">Fetch</button>
            </div>
            <div class="m2">
                <div>Log</div>
                <textarea [(ngModel)]="log"></textarea>
            </div>
        </div>

    </div>


<!--    <button (click)="onOpenSetting()">open Modal</button>-->
</div>
